<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SiteBaseUrl" value="http://localhost" />
    <add key="EmailFromAddress" value="GraphDocs@noreply.com" />

    <add key="APIVersionNumber" value="v1" />
    <add key="SmtpServer" value="localhost" />
    <add key="WorkflowFolder" value="WorkflowDefinitions" />
    <add key="WorkflowStoreId" value="00000000-117e-4bac-b93a-613d7baaa000" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>